## Ignore Visual Studio temp files, builds

# User specific files
*.suo
*.user
.vs/

# Build results
bin/
obj/

# Test and report results
TestResult.*
coverage.*
TestReport/

# Some code which denied to repo
PCTooL/PCTooL/Helpers/Ignorables.cs